.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  width: 640px;
  margin: auto;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.light {
  background: #f0d9b5;
}

.dark {
  background: #b58863;
}
.chess-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .board {
  display: grid;
  grid-template-columns: repeat(8, 12.5svw);
  width: 100svw;
  margin: auto;
}

.square {
  width: 12.5svw;
  height: 12.5svw;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
}